/* css used to style experience.html */
/*   display project examples        */

    .projectExamples {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        
    }

    .projectBox {
        background: hsl(214, 56%, 40%);
        border: 1px solid #000000;
        justify-content: space-around;
        margin: 10px;
        text-align: center;
        width: 65%;
    }

    .projectBox h4.semester {
        background:#00008833; 
        color: #FFFFFF;
        padding: 15px;
    }

    .projectBox img {
        margin-bottom: 20px;
    }

    .projectBox a.button {
        display: block;
        width: 40%;
        margin: 10px auto;
        color: #FFFFFF;
        background: #03034633;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        border-radius: 15px;
        padding: 1px;
    }

    footer {
        clear: left;
    }
