body{
    background: linear-gradient(to bottom, #4e54c8, #000000);
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(to bottom, #4e54c8, #8f94fb);
    padding: 20px;
    text-align: center;
    font-family: "Play";
}

nav {
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

label, input, textarea {
    color: #8f94fb;
    font-size: 25px;
    margin: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #a222d4;
    color: rgb(252, 230, 30);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav button {
    padding: 10px 20px;
    background-color: #a222d4;
    color: rgb(252, 230, 30);
    border: none;
    border-radius: 4px;
    cursor: crosshair;
    font-family: "Play";
}

#homenav{
    cursor: pointer;
}

main{
    text-align: center;
    font-family: "Honk";
}
.ans1, .ans2, .ans3{
    cursor: pointer;
} 
#first, #second, #third{
    font-size: 25px;
    font-family: "Play";
    color: lightcoral;
}
main > h1{
    font-size: 40px;
}  

main > h3{
    font-size: 30px;
}

a{
  color: mediumblue;
  text-decoration: underline;
}

footer{
    padding-top: 100px;
    text-align: center;
    color: rgb(252, 230, 30);
}